/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #GENERIC ALIGN
//\*------------------------------------*/




// Keep same align after all my elements
h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre
    margin-bottom wf_line-height
    margin-bottom rem( wf_line-height )

// Keep same indentation with my list
ul, ol, dd,
    margin-left 2 * wf_space-unit
    margin-left rem( 2 * wf_space-unit )
