// - index.html

extends layout

block title
    title Accueil
    
block style
    link(rel="stylesheet" href="css/main.css")

block content
    p Template personnel de maquette, utilisant Jade et Stylus.
