/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #BASE HEADING
//\*------------------------------------*/




// Personal font-size for heading
heading-size-1 = 41.887px
heading-size-2 = 34.269px
heading-size-3 = 25.888px
heading-size-4 = 21.180px
heading-size-5 = 16px
heading-size-6 = 13.090px

//
h1, .alpha
    font-size heading-size-1
    font-size rem( heading-size-1 )

h2, .beta
    font-size heading-size-2
    font-size rem( heading-size-2 )

h3, .gamma
    font-size heading-size-3
    font-size rem( heading-size-3 )

h4, .delta
    font-size heading-size-4
    font-size rem( heading-size-4 )

h5, .epsilon
    font-size heading-size-5
    font-size rem( heading-size-5 )

h6, .zeta
    font-size heading-size-6
    font-size rem( heading-size-6 )
