///*------------------------------------*\
//    #BASE PARAGRAPH
//\*------------------------------------*/




// Comportements of all my paragraph
p
    rem-fallback( margin-bottom, wf_font-size * 0.75 )
