/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #SETTINGS
//\*------------------------------------*/




// Font settings.
font-size                    =    16px
line-height                  =    24px
font-labeur                  =    "Helvetica Neue", "Helvetica", "Arial", sans-serif
font-heading                 =    "Gill Sans", sans-serif

// Text colors.
labeur-color                 =    #333333
heading-color                =    #888888
nav-color                    =    #45a0c9
nav-color-hover              =    #59d0ff
link-color                   =    #139885
link-color-hover             =    #1be6bd

// Background colors.
background-color             =    #ffffff

// Border colors
border-color                 =    #ffffff

// Forms settings
form-border-color            =    #ffffff
form-background-color        =    #ffffff
form-background-color-focus  =    #ffffff
