/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #TOOLS FUNCTIONS
//\*------------------------------------*/





// Remove units of a number
strip-units( val )
    unit( val, "" )
